[Unit]
Description=Do It Yourself Home Automation Siren
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/siren/siren.py --mq chuck.local --loc diy/upper/study
[Install]
WantedBy=multi-user.target
